<h1>Liste des prestations.</h1>

<div class="container-index-prestation bg-white p-4">
  <div class="list-index-prestations">
    <% @prestations.each do |prestation| %>
      <div class="list-index-prestation d-flex">
        <div class="prestation-items pr-5"><p><%= prestation.title %></p></div>
        <div class="prestation-items pr-5"><p><%= task.start_time %></p></div>
        <div class="prestation-items pr-5"><p><%= prestation.location %></p></div>
        <div class="prestation-items prestation-status pr-5"><p><%= prestation.status %></p></div>
      </div>
    <% end %>
  </div>
</div>
