// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
// $gray: #0E0000;

//custom colors:
$pink: #EF767A;
$green: #5ABCB9;
$red: #52050A;
$light-gray: #F4F4F4;
$lm-gray: #DADADA;
$m-gray: rgba(109,103,110,0.7);
$medium-gray: rgb(109,103,110);
$dark-gray: #5A5A5A;
$black: #1B1B1E;

//tag en cours:
$light-pink: #FED7E2;
$dark-pink: #97266D;

//tag termine:
$light-purple: #E9D8FD;
$dark-purple: #44337A;


.light-pink{
  color: $light-pink;
}
.pink {
  color: $pink;
}

.green {
  color: $green;
}

.red {
  color: $red;
}

.light-gray {
  color: $light-gray;
}

.lm-gray {
  color: $lm-gray;
}

.m-gray {
  color: $m-gray;
}

.medium-gray {
  color: $medium-gray;
}

.dark-gray {
  color: $dark-gray;
}

.black {
  color: $black;
}

