// Define variables for your color scheme

// For example:
// $red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
// $gray: #0E0000;

//custom colors:
$green: #5ABCB9;
$red: #52050A;
$light-gray: #F4F4F4;
$medium-gray: #BDBDBD;
$dark-gray: #5A5A5A;
$black: #1B1B1E;

//tag en cours:
$light-pink: #FED7E2;
$dark-pink: #97266D;

//tag termine:
$light-purple: #E9D8FD;
$dark-purple: #6A7FDB;
