* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h1, h2, h3 {
  font-weight: 900;
  line-height: 130%;
  letter-spacing: -0,05em;
}

h1 {
  font-size: 3.5rem;
  color: $blue;
}

h2 {
  font-size: 2,5rem;
  color: #5A5A5A;
}

h3 {
  font-size: 1,8rem;
  color: #BDBDBD;
}

h4 {
  font-size: 1,25rem;
  color: #5ABCB9;
}

p {
  font-size: 1rem;
  color: #1B1B1E;
}
