* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

li {
  list-style: none;
}

h1, h2, h3 {
  font-weight: 900 !important;
  line-height: 130% !important;
  letter-spacing: -0,05em !important;
  margin: 0 !important;
  padding: 0 !important;
}

h1 {
  font-size: 3.5rem !important;
  color: $black;
}

h2 {
  font-size: 2.5rem !important;
  color: $dark-gray;
}

h3 {
  font-size: 1.8rem !important;
  color: $medium-gray;
  font-variant: small-caps;
  text-transform: uppercase;
}

h4 {
  font-size: 1.25rem !important;
  color: $green;
}

p {
  font-size: 1rem !important;
  color: $black;
  margin: 0 !important;
  padding: 0 !important;
}

.green-point {
  color: $green;
  font-size: 3.5rem;
}

.p-gray {
  color: #999999;
}

.green {
  color: $green;
}

