<div class="container">
  <div class="task-show row">
    <div class="col px-5">
      <!-- Close button -->
      <div class="row">
        <div class="col px-0">
          <button type="button" class="close mt-5" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>
      <!-- TASK SHOW -->
      <%= render 'infotask', task: task %>
    </div>
  </div>
  <div class="task-form row d-none">
    <div class="col px-5">
      <%= render 'editform', task: task %>
    </div>
  </div>
</div>
