.calendar-day-view {
width: 85px;
height: 85px;
align-items: center;
justify-content: center;

}
.week-day {
  border: 1px solid black;
  width: 69px;
}

.day {
  text-align: right;
  font-weight: 600;
}

.day-task {
  background-color: $pink;
  border-radius: 50px;
  border: 1px solid $pink;
  padding: 10px 12px !important;
  color: black;
  font-weight: 600;
}

.day-task:hover {
  border: 1px solid $pink;
  background-color: $light-gray !important;
  color: $pink;
}

.calendar{
  text-align: right;
  border-radius: 10px;
  margin-left: 50px;
  margin-top: 20px;
}

.calendar-title {
text-align: center;
margin-top: 50px !important;
}

.display-task {
  background-color: white;
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.task-title-calendar {
text-align: center;
}

.pickup-day{
  font-size: 20px !important;
  text-align: center;
}
.title-task {
  padding-bottom: 30px !important;
  padding-top: 15px !important;
}
.picto-task-calendar {
  padding-right: 10px;
  padding-top: 20px;
}
.task-prestation-title-calendar{
  padding-top: 15px !important;

}

.task-per-day {
  border-bottom: 1px solid $light-gray;
}

.task-per-day:hover {
  background-color: #fafaf6 !important;
}

.gray-actif {
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: #light-gray !important;
}

