.calendar-day-view {
width: 85px;
height: 85px;
align-items: center;
justify-content: center;

}
.week-day {
  border: 1px solid black;
  width: 69px;
}

.day {
  text-align: right;
  font-weight: 600;
}

.day-task {
  background-color: $pink;
  border-radius: 50px;
  border: 1px solid $pink;
  padding: 10px 12px !important;
  color: black;
  font-weight: 600;
}

.day-task:hover {
  border: 1px solid $pink;
  background-color: white !important;
  color: $pink;
  cursor: pointer;
}

.calendar{
  text-align: right;
  border-radius: 10px;
  margin-top: 20px;
}

.calendar-title {
text-align: center;
margin-top: 50px !important;
}

.display-task {

  padding-left: 0px !important;
  padding-right: 0px !important;
}

.task-title-calendar {
text-align: center;
}

.pickup-day{
  font-size: 20px !important;
  text-align: center;
}
.title-task {
  padding-bottom: 30px !important;
  padding-top: 15px !important;
}
.picto-task-calendar {
  padding-right: 10px;
  padding-top: 20px;
}
.task-prestation-title-calendar{
  padding-top: 15px !important;

}

.task-per-day {
  border-bottom: 1px solid $light-gray;
}

.task-per-day:hover {
  background-color: white !important;
  cursor: pointer;

}

.task-per-day:hover p {
  color: $pink !important;
}

.gray-actif {
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: white !important;
}

.calendar-col {
 width: 50%;
}

.tasks-col {
  width: 50%;
}

.today {
  background-color: $green;
  border-radius: 50px;
  border: 1px solid $green;
  padding: 10px 12px !important;
  color: black;
  font-weight: 600;
}

.today:hover {
  border: 1px solid $green;
  background-color: white !important;
  color: $green;
  cursor: pointer;
}

.day-task-past {
  background-color: white;
  border-radius: 50px;
  border: 1px solid $m-gray;
  padding: 10px 12px !important;
  color: $m-gray;
  font-weight: 600;
  cursor: pointer;
}

.day-past {
  color: $m-gray !important;
}

.green-actif-calendar {
  border: 1px solid $green;
  background-color: white !important;
  color: $green;
  cursor: pointer;
}

.pink-actif-calendar {
  border: 1px solid $pink;
  background-color: white !important;
  color: $pink;
  cursor: pointer;
}
