<div class="pho-menu">
  <ul>
    <li id="logo">P<span id="logo-point">.</span></li>
    <li><i class="fas fa-search"></i></li>
    <li><i class="fas fa-plus-circle"></i></li>
    <li><i class="fas fa-clipboard-list"></i></li>
    <li><i class="fas fa-users"></i></li>
    <li><i class="fas fa-camera"></i></li>
  </ul>
  <div class="user-picture">
    <%= cl_image_tag "ophelie.jpg" %>
  </div>
</div>
