<div class="pho-menu">

  <ul>
    <li id="logo">P<span id="logo-point">.</span></li>
    <li><i class="fas fa-search"></i></li>
    <li><i class="fas fa-plus-circle"></i></li>
    <li><i class="fas fa-clipboard-list"></i></li>
    <li><i class="fas fa-users"></i></li>
    <li><i class="fas fa-camera"></i></li>
  </ul>

  <div class="user-picture">
    <ul>
      <li>
        <%= image_tag "icon-avatar.jpg", class: "avatar" %>
      </li>
    </ul>
  </div>

  <div class="toggle-button">
    <i class="fas fa-chevron-right"></i>
  </div>

</div>
