<div class="home-container">
  <div id="home-content">
    <h1>Photographer<span class="green-point">.</span></h1>
    <%= link_to 'Se Connecter', user_session_path, class: 'pho-btn' %>
  </div>
</div>
