.container-index-prestation {
  text-align: left;
}

.list-index-prestations {
  border-radius: 10px;
}

.list-index-prestation {
  border-bottom: 1px solid $light-gray;

}

.list-index-prestation:hover {
  background-color: $light-gray;
}

.index-title-prestation {
  color: $medium-gray ;
  font-size: 20px !important;
  font-weight: bold;
  font-family: "Montserrat";
}

.link-text-index:hover{
  text-decoration: none !important;
}

.index-location-prestation {
  color: $medium-gray;
  font-size: 16px !important;
  font-family: "Montserrat";
  text-decoration: none;
}

.index-date-prestation {
  font-size: 16px !important;
  font-family: "Montserrat";
  color: #767676;
  text-decoration: none;
}

.list-index-prestation {
  align-items: left;
}

.list-index-prestation:hover p{
  color: $pink !important;
}

.progress {
  height: 30px;
  width: 90px;
  border-radius: 50px;
  background-color: $light-pink;
  color: $dark-pink;
  padding-left: 14px;
  align-items: center;
  justify-content: center;
}

.finish {
  height: 30px;
  width: 90px;
  border-radius: 50px;
  background-color: $light-purple;
  color: $dark-purple;
  align-items: center;
  justify-content: center;
}
