.container-index-prestation{
  position: absolute;
  width: 1230px;
  height: 671px;
  top: 202px;
  margin: 30px;
  background: #FFFFFF;
  border-radius: 5px;
}

.list-index-prestation {
  border-bottom: 5px, black, solid;
}

.prestation-items {
  padding: 30px;
}


