.task-title-show-prestation {
  border-bottom: 1px solid $light-gray;
}

.task-date-show-prestation {
  color: $green;
  font-family: "Montserrat";
  font-size: 18px !important;
  font-weight: 400;
  padding-left: 30px;
  font-weight: 400;
}

.task-name-show-prestation {
  font-family: "Open Sans";
  font-size: 16px !important;
  font-weight: 600;

}

.button-modifier{
  padding-left: 80px;
  padding-top: 65px;
}

.task-details-show-prestation {
  border-radius: 10px;
}

.task-show-prestation {
  border-radius: 10px;
}

.evenement-show-prestation {
  border-radius: 10px;
}

.client-show-prestation {
  border-radius: 10px;
}

.notes-show-prestation {
  border-radius: 10px;
}

.event-date-show-prestation {
  color: $green;
  font-weight: bold;
  font-size: 20px !important;
}

.event-location-show-prestation {
  align-items: center;
  justify-content: center !important;
}

.email-client-show-prestation {
  color: $green;
  font-size: 20px !important;
  font-weight: bolder !important;
}

.name-email-client-show-prestation {
  border-bottom: 1px solid $light-gray;
}

.photo-client {
border-radius: 50%;
object-fit: cover;

}

.photo-client-show-prestation {
  align-items: center;
  justify-content: center !important;
}

.partner-name {
font-weight: bold;
font-size: 18px !important;
}

.tutoiement-square {
  font-size: 16px !important;
  font-family: "Open sans";
}

.phone-number-client-show-prestation {
  font-size: 18px !important;
}

.notes-show-prestation {
  align-items: center;
}

.comment_input {
  border-radius: 10px;
  border: 1px solid $medium-gray;
}
