.show-presta-client {
  width: 55%;
  background-color: white;
}

.show-presta-border-taches {
  margin-top: 30px;
}

.border-bottom-light-gray {
  border-bottom: 1px solid $light-gray;
}

.border-bottom-medium-gray {
  border-bottom: 1px solid rgba(0,0,0,.1);
}
.photo-client {
  border-radius: 50%;
}
.show-presta-taches {
  padding-top: 60px;
  margin-left: 60px;
  width: 45%;
}
.show-presta-task-name {
  font-size: 16px;
}
.show-presta-color {
  color: $green;
}
.div1 {
  height: 100px;
  padding-top: 15px;
}

.white-hover:hover, .white-actif {
  background-color: white;
  padding-top: 20px;
}

.white-hover:hover > p {
  color: $pink !important;
}

.white-hover:hover i {
  color: $pink !important;
  visibility: visible;
}

.white-actif {
  margin-top: 30px;
  margin-bottom: 30px;
}

.task-description-show {
  background-color: white;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: between;
  width: 100%;
}
.pink-actif {
  color: $pink !important;
  font-weight: bold;
}

.e-mail i {
  visibility: hidden;
}

.link-to-client {
  text-decoration: none !important;
}

.link-to-client:hover h2 {
  color: $pink !important;
}
