.container-index-client {
  text-align: left;
}

.list-index-client:hover p{
  color: $pink !important;
}

.list-index-client:hover i{
  color: $pink !important;
}
.card-client {
  position: relative;
  background-color: $light-gray;
  border-radius: 10px !important;
}

.photo-client-index {
  height: 200px;
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.e-mail-client {
 border-bottom: 1px solid $lm-gray;
}

.size-progress {
  font-size: 13px !important;
}
