.container-index-client {
  text-align: left;
}

.list-index-clients {
  border-radius: 10px;
}

.list-index-client {
  border-bottom: 1px solid $light-gray;

}

.list-index-client:hover {
  background-color: $light-gray;
}

.index-title-client {
  color: $medium-gray ;
  font-size: 20px !important;
  font-weight: bold;
  font-family: "Montserrat";
}

.link-text-index:hover{
  text-decoration: none !important;
}

.index-location-client {
  color: $medium-gray;
  font-size: 16px !important;
  font-family: "Montserrat";
  text-decoration: none;
}

.index-date-client {
  font-size: 16px !important;
  font-family: "Montserrat";
  color: #767676;
  text-decoration: none;
}

.list-index-client {
  align-items: left;
}

.list-index-client:hover p{
  color: $pink !important;
}

.list-index-client:hover i{
  color: $pink !important;
}
.card-client {
  position: relative;
  background-color: $light-gray;
  border-radius: 10px !important;
}

.photo-client-index {
  height: 200px;
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.e-mail-client {
 border-bottom: 1px solid $lm-gray;
}

