.show-client-left {
  width: 50%;
  background-color: white;
  margin-bottom: 30px;
}


.show-client-border-presta {
  margin-top: 30px;
  border-bottom: 1px solid rgba(0,0,0,.1);
}

.show-client-right {
  padding-top: 60px;
  margin-left: 60px;
  width: 50%;
}

.client-partner-name {
  font-size: 20px !important;
}

