.show-client-left {
  width: 55%;
  height: 100%;
  background-color: white;
}


.show-client-border-presta {
  margin-top: 30px;
  border-bottom: 1px solid rgba(0,0,0,.1);
}

.show-client-right {
  padding-top: 60px;
  margin-left: 60px;
  width: 45%;
}

.client-partner-name {
  font-size: 20px !important;
}
.show-client-produits-border {
  margin-top: 100px;
}
