.pho-btn {
  background-color: $pink;
  border: 1px solid $pink;
  border-radius: 20px;
  padding: 5px 15px;
  color: white !important;
  font-size: 14px;
  font-weight: 400;
}

.pho-btn:hover {
  text-decoration: none;
  background-color: transparent;
  border: 1px solid $pink;
  border-radius: 20px;
  padding: 5px 15px;
  color: $pink !important;
  font-size: 14px;
  font-weight: 400;
}

.urgent {
  color: #ED6A5A;
}

.presta-status:hover {
  text-decoration: none;
}
