.card-task {
  border-bottom: solid 1px $light-gray;
}

.card-task:hover {
  background-color: $light-gray;
}

.card-task .task-name:hover {
  color: $pink;
}

.card-task .task-prestation-client:hover {
  color: $pink;
}

.card-task-link {
  text-decoration: none;
}

.card-task-link:hover {
  text-decoration: none;
  color: $pink;
}

.card-date-task:hover {
  * {
    color: $pink;
  }
}
