.form-post {
  background: white;
  margin-top: 50px;
  padding: 20px;
  border-radius: 5px;
  h1 {
    text-align: center;
  }
  .btn {
    width: 100%;
    padding: 10px;
    font-weight: bold;
  }
}

.task-form .form-post {
  padding: 0;
}
