.pho-sidebar {
  background-color: $green;
  width: 80px;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.pho-menu {
  margin: 50px;
  color: white;
  font-size: 30px;
  position: relative;
}

.pho-menu li {
  padding-bottom: 30px;
  text-align: center;
}

#logo {
  width: 60px;
  height: 60px;
  font-size: 40px;
  font-family: Montserrat;
  font-weight: 900;
  color: $black;
  background-color: white;
  border-radius: 50%;
  text-align: center;
  letter-spacing: -0.15em;
  margin-bottom: 100px;
}

#logo-point {
  color: $green;
  font-size: 40px;
}

.user-picture {
  position: absolute;
  bottom: 50px;
}

.toggle-button {
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.avatar {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  object-fit: cover;
}
