.sidebar-container {
  background-color: $green;
  min-width: 80px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  transition: 100s;
}

.hide-sidebar {
  display: none;
}

.sidebar-toggle {
  margin-top: 110px;
  color: white;
  font-size: 30px;
  position: relative;
  transition: 100s
}

.sidebar-toggle li {
  padding-bottom: 35px;
  text-align: center;
  color: white;
  padding-right: 20px;
}

.sidebar-toggle p {
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 500;
  color: white;
}

.sidebar-menu {
  margin: 40px 20px;
  color: white;
  font-size: 30px;
  position: relative;
}

.sidebar-menu li {
  padding-bottom: 30px;
  text-align: center;
}

#logo {
  width: 60px;
  height: 60px;
  font-size: 40px;
  font-family: Montserrat;
  font-weight: 900;
  color: $black;
  background-color: white;
  border-radius: 50%;
  text-align: center;
  letter-spacing: -0.15em;
  margin-bottom: 50px;
}

#logo-link {
  text-decoration: none;
}

#logo-point {
  color: $green;
  font-size: 40px;
}

.user-picture {
  position: absolute;
  bottom: 60px;
}

#toggle-button {
  position: absolute;
  bottom: 5px;
  left: 20px;
}

.avatar {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  object-fit: cover;
}

.i-links {
  color: white;
}

.text-links {
  color: white;
  text-decoration: none;
}

.text-links:hover {
  color: white;
  text-decoration: underline;
}

.i-links:hover {
  color: $green;
  background-color: white;
  border-radius: 50%;
  padding: 5px 10px;
}

.menu-item-box {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.current-user-picture {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  crop: fill;
}
